# Игнорируем все файлы, которые не должны быть в Docker образе
bin/
obj/

# Игнорируем папку с данными пользователя и временные файлы
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs

# Игнорируем файлы, связанные с операционной системой
.DS_Store
Thumbs.db

# Игнорируем файл настроек JetBrains
.idea/

# Игнорируем пакеты NuGet, которые будут восстанавливаться в процессе сборки
.nuget/

# Игнорируем файлы для конфигурации тестов, если они есть
test/


